.remove-btn {
  margin-right: 0.5rem;
}

.fade-enter{
 opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active{
  opacity: 0.01;
  transition: opacity 1000ms ease-in;

}

.nav-brand {
  color: white !important;
}

.logout-btn {
  color: grey !important;
}

.logout-btn:hover {
  color: white !important;
  cursor: pointer;
}

.active {
  border-bottom: 3px solid white
}

.nav-item{
  padding: 10px 10px 10px 10px;
  color: rgb(165, 197, 165)
}

.nav-item:hover{
  color: white;
  text-decoration: none;
}


/* ========
  Watchlist Styles
   ======== */

.flexSplit{
display: flex;
justify-content: center;
align-items: flex-start;
align-content: space-between;
}

.calculator{
  width: 40%;
  height: 80vh;
  background-color: lightgrey;
  display: inline-block;
}

.alertWatchlist{
  width: 55%;
  height: 80vh;
  top: 0;
  background-color: lightgreen;
  display: inline-block;
  margin-left: 5%;
}

.inline_p{
  display: inline
}

.portfolioValue{
  width: 3rem;
  margin-right: 20px;
  margin-left: 5px;
}

.input{
  border-radius: 8px;
  text-align: center;
}

.riskValue {
  width: 2rem;
  margin-left: 5px;
}

.calculator_input{
  margin-left: 10px;
  width: 5.5rem;
}

.calculator_label{
  display: block;
  margin: 0 auto;
}

.calculatorForm{
  flex-direction: column;
  display: flex;
  align-items: center;
}


/* ========
  Item modal Styles
   ======== */

.radioInput {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
}

.radio_btn{
  margin-left: 50px;
}